body{
  margin: auto;
  padding: auto;
}

.filters{
  margin: auto;
  width: 1200px;
  height: 150px;
}

h1{
  text-align: center;
}

form label{
  display: inline-block;
  margin: auto;
}



.submition{
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  margin-left: 15px;
}

.pokemons{
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  align-items: center;
}

input[type="checkbox"]{
  flex:none;
  margin-left: 10px;
}
