body{
  margin: auto;
  padding: auto;
  font-family: 'Open Sans', sans-serif;
}

main{
  background-color: #684E32;
}


.filters{
  margin: auto;
  width: 1200px;
  height: 170px;
  background-color: #79C99E;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

h1{
  text-align: center;
  margin: auto;
  padding: 10px 0;
}

form label{
  display: inline-block;
  margin: auto;
  width: 100px;
}



.submition{
  margin: 20px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  margin-left: 15px;
  width: 80px;
  height: 30px;
  border-radius: 15px;
  border: none;
  background-color: #F98948;
  font-family: 'Open Sans', sans-serif;
}

.pokemons{
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  align-items: center;
  justify-content: center;
  background-color: #97DB4F;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

input[type="checkbox"]{
  flex:none;
  margin-left: 10px;
}

#pokemon-name{
  border: none;
  border-radius: 15px;
  height: 30px;
  padding-left: 10px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #F98948; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ED5C07; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #DA5407; 
}